/* #slider1 {
    max-width: 50%;
    height: auto;
    display: flex;
    justify-self: end;
    padding: 50px;
    background-repeat: no-repeat !important;
} */

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto;

    padding: 10px;
}

.grid-item {
    min-height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.kukkiwon {
    width: 500px;
    height: 300px;
}

@media screen and (max-width: 370px) {
    .kukkiwon {
        width: 200px;
        height: 200px;
    }

}